@using ProjectManagement.Models;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Html;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Projects Page";
}

@{
  var user = await @UserManager.GetUserAsync(User);
  var UserName = @user.UserName;

  if (!ProjectManagement.Models.User.Exist(@user.UserName))
  {
      ProjectManagement.Models.User newUser = new ProjectManagement.Models.User(@user.FirstName + " " + @user.LastName, @user.UserName, @user.Email);
      newUser.Save();
  }
  ProjectManagement.Models.User thisUser = ProjectManagement.Models.User.Find(UserName);
}

<h1 id="page-header">My Projects</h1>
        @* Replace Project.GetAll() with thisUser.GetProjects() whenever the method has been created. *@
@foreach(Project project in thisUser.GetProjects())
{
  HtmlString content = new HtmlString(@project.Content);
  <div class="project-container">
    <h2 class="project-header">@project.Name</h2>
    <div class="project-details">
      <p><strong>About This Project</strong>: @content</p>
      <p><strong>Due</strong>: @project.DueDate</p>
      <p><strong>Status</strong>: @project.Status</p>
    </div>
    <div class="status-container">
      <div class="row">
        <div class="col-sm-3">
          <div class="column column--color-blue">
            <h3 id="todo" class="task-category">Todo</h3>
            <p>
              <form id="new-todo" action="/projects/newTodo" method="post">
                <input name="projectId" type="hidden" value="@project.Id" />
                <div class="input-group">
                  <input class="form-control" name="todoName" type="text" placeholder="Add New Todo" />
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">+</button>
                  </span>
                </div>
              </form>
            </p>
            @foreach(Todo task in Todo.GetAll())
            {
              @if(task.Status == "Todo")
              {
                <p id="@task.Status" class="task-card" draggable="true" ondragstart="drag(event)">@task.Name</p>
              }
            }
          </div>
        </div>
        <div class="col-sm-3">
          <div class="column column--color-yellow" ondrop="drop(event, this)" ondragover="allowDrop(event)">
            <h3 id="in-progress" class="task-category">In Progress</h3>
            @foreach(Todo task in Todo.GetAll())
            {
              @if(task.Status == "In Progress")
              {
                <p class="task-card">@task.Name</p>
              }
            }
          </div>
        </div>
        <div class="col-sm-3">
          <div class="column column--color-red">
            <h3 id="stuck" class="task-category">Stuck</h3>
            @foreach(Todo task in Todo.GetAll())
            {
              @if(task.Status == "Stuck")
              {
                <p class="task-card">@task.Name</p>
              }
            }
          </div>
        </div>
        <div class="col-sm-3">
          <div class="column column--color-green">
            <h3 class="task-category">Done</h3>
            @foreach(Todo task in Todo.GetAll())
            {
              @if(task.Status == "Done")
              {
                <p class="task-card">@task.Name</p>
              }
            }
          </div>
        </div>
      </div>
    </div>
  </div>
}
