@using ProjectManagement.Models;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Html;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Explore Projects Page";
}
@{
    ProjectManagement.Models.User thisUser = new ProjectManagement.Models.User("", "", "");
}

@if (SignInManager.IsSignedIn(User))
{
    var user = await @UserManager.GetUserAsync(User);
    var UserName = @user.UserName;

    if (!ProjectManagement.Models.User.Exist(@user.UserName))
    {
        ProjectManagement.Models.User newUser = new ProjectManagement.Models.User(@user.FirstName + " " + @user.LastName, @user.UserName, @user.Email);
        newUser.Save();
    }
    thisUser = ProjectManagement.Models.User.Find(UserName);
}

<h1 id="explore-header">All Available Projects</h1><br/>


<div class="row">
@{
    int count = 0;
}
@foreach(var project in Model)
{
    count = @count + 1;
    HtmlString content = new HtmlString(@project.Content);
        <div class="col-md-12">
        <div class="panel panel-default">
            @if (count % 4 == 0)
            {
                <div class="panel-heading" style="background-color:  #ff791f; color: white;">
                    <div class="panel-title">
                        <h4><i class="fa fa-code" aria-hidden="true"></i>&nbsp;@project.Name</h4>
                    </div>
                </div>
            }
            else if (count % 4 == 1)
            {
                <div class="panel-heading" style="background-color: #004d99; color: white;">
                    <div class="panel-title">
                        <h4><i class="fa fa-database" aria-hidden="true"></i>&nbsp;@project.Name</h4>
                    </div>
                </div>
            }
            else if (count % 4 == 2)
            {
                <div class="panel-heading" style="background-color: #008060; color: white;">
                    <div class="panel-title">
                        <h4><i class="fa fa-code-fork" aria-hidden="true"></i>&nbsp;@project.Name</h4>
                    </div>
                </div>
            }
            else
            {
                <div class="panel-heading" style="background-color: #ffcc00; color: white;">
                    <div class="panel-title">
                        <h4><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;@project.Name</h4>
                    </div>
                </div>
            }
            <div class="panel-body">
                  <h4>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;
                    Description:
                  </h4>
                  <p class="card-text">@content</p>
                  <h4>
                    <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
                    <strong>Due</strong>: @project.DueDate.Date.ToString("d")
                  </h4>
                  <h4>
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;
                    <strong>Status</strong>: @project.Status
                  </h4>
                  <h4>
                    <i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                    <strong>Owner</strong>: @project.GetOwner().Name
                  </h4>
                @if (SignInManager.IsSignedIn(User) && !thisUser.GetProjects().Contains(@project))
                {
                    <form action="/explore/projects/@project.Id/users/@thisUser.Id/join" method="post"><button type="submit" id="join" class="btn">Join</button></form>
                }
            </div>
        </div>
    </div>

}
</div>
