@using ProjectManagement.Models;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Html;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Explore Projects Page";
}
@{
    ProjectManagement.Models.User thisUser = new ProjectManagement.Models.User("", "", "");
}

@if (SignInManager.IsSignedIn(User))
{
    var user = await @UserManager.GetUserAsync(User);
    var UserName = @user.UserName;

    if (!ProjectManagement.Models.User.Exist(@user.UserName))
    {
        ProjectManagement.Models.User newUser = new ProjectManagement.Models.User(@user.FirstName + " " + @user.LastName, @user.UserName, @user.Email);
        newUser.Save();
    }
    thisUser = ProjectManagement.Models.User.Find(UserName);
}

<h1 id="explore-header">All available Projects</h1>
<div class="row"></div>
@{
    int count = 0;
}
@foreach(var project in Model)
{
    count = @count + 1;
    HtmlString content = new HtmlString(@project.Content);
    <div class="col-md-6">
        <div class="explore-container">
            @if (count % 4 == 0)
            {
                <div class="project-header" style="background-color:  #ff8000; color: white;">
                    <h4>@project.Name</h4>
                </div>
            }
            else if (count % 4 == 1)
            {
                <div class="project-header" style="background-color: #004d99; color: white;">
                    <h4>@project.Name</h4>
                </div>
            }
            else if (count % 4 == 2)
            {
                <div class="project-header" style="background-color: #008060; color: white;">
                    <h4>@project.Name</h4>
                </div>
            }
            else
            {
                <div class="project-header" style="background-color: #ffcc00; color: white;">
                    <h4>@project.Name</h4>
                </div>
            }
            <!-- <div class="project-header">
                <h4>@project.Name</h4>
            </div> -->
            <div class="explore-details">
                <h4>Description:</h4>
                <p class="card-text">@content</p>
                <h4>Due Date:</h4>
                <p class="card-text">@project.DueDate.Date.ToString("d") </p>
                @if (SignInManager.IsSignedIn(User) && !thisUser.GetProjects().Contains(@project))
                {
                    <form action="/explore/projects/@project.Id/users/@thisUser.Id/join" method="post"><button type="submit" id="join" class="btn">Join</button></form>
                }
            </div>
        </div>
    </div>
}
</div>
