@using ProjectManagement.Models;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Html;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Explore Projects Page";
}
@{
    ProjectManagement.Models.User thisUser = new ProjectManagement.Models.User("", "", "");
}

@if (SignInManager.IsSignedIn(User)) 
{
    var user = await @UserManager.GetUserAsync(User);
    var UserName = @user.UserName;

    if (!ProjectManagement.Models.User.Exist(@user.UserName))
    {
        ProjectManagement.Models.User newUser = new ProjectManagement.Models.User(@user.FirstName + " " + @user.LastName, @user.UserName, @user.Email);
        newUser.Save();
    }
    thisUser = ProjectManagement.Models.User.Find(UserName);
}

<h1 id="explore-header">All available Projects</h1>
<div class="row"></div>
@foreach(var project in Model)
{
    HtmlString content = new HtmlString(@project.Content);
    <div class="col-md-6">
        <div class="explore-container">
            <div class="project-header">
                @project.Name
            </div>
            <div class="project-details">
                <p class="card-text">@content</p>
                @if (SignInManager.IsSignedIn(User))
                {
                    <form action="/explore/join/project/@project.Id/user/@thisUser.Id" method="post"><button type="submit" id="join" class="btn">Join</button></form>
                }
            </div>
        </div>
    </div>
}
</div>